# Python
backend/venv/
venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db
backend/app/ml/crowd_model.pkl