# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Environment variables
.env
.env*.local

# OS Files
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/
