body{

margin:0;

font-family:Arial, sans-serif;

background-image:url("/metro.jpg");

background-size:cover;

background-repeat:no-repeat;

background-attachment:fixed;

background-position:center;

}
.form-container{

width:700px;

margin:auto;

margin-top:40px;

padding:30px;

background:rgba(255,255,255,.85);

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}
button{

background:#1565C0;

color:white;

padding:15px;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

width:100%;

}

button:hover{

background:#0D47A1;

}